footer-container {
  background-color: var(--accent-color);
  justify-content: center;
  flex-direction: row !important;
  flex-wrap: wrap;
  gap: 12px;
}

footer-container > * {
  white-space: nowrap;
  color: var(--background-color);
}