header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 70px;
  box-sizing: border-box;
  background-color: var(--background-color);
  border-bottom: 1px solid #00000030;

  position: sticky;
  top: 0;

  padding: 6px 18px;
}

header-container>* {
  max-height: 70%;
}

.hamburguer {
  aspect-ratio: 1/1;
}

.hamburguer img {
  width: 75%;
  height: 75%;
}

.wanessaLogo,
.hamburgerMenu {
  height: 100%;
  pointer-events: none;
}