header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 70px;
  box-sizing: border-box;
  background-color: var(--background-color);
  border-bottom: 1px solid #00000030;

  position: sticky;
  top: 0;

  padding: 6px 18px;
  z-index: 10;
}

header-container>* {
  max-height: 70%;
}

.hamburguer {
  aspect-ratio: 1/1;
}

.hamburguer img {
  width: 75%;
  height: 75%;
}

.wanessaLogo,
.hamburgerMenu {
  height: 100%;
  pointer-events: none;
}


darken-layer {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;

  pointer-events: none;
}

darken-layer.open {
  background: #00000080;
}

hamburger-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  min-width: 100px;
  position: fixed;
  right: -0;
  top: 0;
  z-index: 20;
  background: var(--background-color);
  padding: 24px 12px;
  border-radius: 8px 0 0 8px;
  box-sizing: border-box;

  /* transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) .5s; */
  transform: translateX(100%);
}

hamburger-container.open {
  transform: translateX(0);
}

hamburger-container navigation-btn {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  text-decoration: none;
  color: var(--on-main-color);
  min-height: 42px;
  box-sizing: border-box;
  border-radius: 99999px;
  cursor: pointer;

  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) and (pointer: fine) {
  hamburger-container navigation-btn:hover {
    background-color: var(--on-container-color);
  }
  
  hamburger-container navigation-btn:active {
    background-color: var(--on-container-focus-color);
  }
}

.close {
  aspect-ratio: 1/1;
  width: 40px;
}