header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 70px;
  box-sizing: border-box;
  background-color: var(--background-color);
  border-bottom: 1px solid #00000030;

  position: sticky;
  top: 0;

  padding: 6px 18px;
  z-index: 10;
}

header-container>* {
  max-height: 70%;
}

.hamburguer {
  aspect-ratio: 1/1;
}

.hamburguer img {
  width: 75%;
  height: 75%;
}

.wanessaLogo,
.hamburgerMenu {
  height: 100%;
  pointer-events: none;
}




hamburger-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 100px;
  position: fixed;
  right: -150px;
  top: 0;
  z-index: 20;
  background: var(--background-color);
  padding: 24px 18px;

  transition: right cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

hamburger-container.open {
  right: 0;
}

.close {
  aspect-ratio: 1/1;
  width: 40px;
}