:root {
  /* --background-color: #fff;
  --main-color: #A8B49C;
  --accent-color: #AE5027;
  --main2-color: #EFE7DF;
  --strong-color: #5B0B0B; */

  --background-color: hsl(36, 33%, 90%);
  --background-color2: hsla(0, 0%, 100%, .6);

  --main-color: hsl(90, 14%, 68%);
  --on-main-color: #3E4A36;

  --main2-color: hsl(36, 33%, 90%);
  --main3-color: hsla(90, 14%, 68%, 0.23);

  --accent-color: hsl(15, 63%, 42%);
  --accent-color2: hsl(24, 65%, 61%);
  --accent-color3: hsl(15, 63%, 62%);

  --accent2-color: hsl(15, 63%, 80%);
  --accent3-color: hsl(15, 63%, 85%);


  --strong-color: hsl(0, 83%, 18%);

  --gradient-bg: linear-gradient(145deg, var(--accent2-color) 20%, var(--accent3-color) 50%, var(--accent2-color) 80%);
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--on-main-color);
}

div#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: clip auto;
  background-color: var(--background-color);
}

div#root .section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 24px 18px;
}

h1 {
  font-size: 18px;
  text-align: center;
  margin: 6px 0 18px 0;
}

h2 {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin: 6px 0;
}

p {
  font-size: 12px;
  margin: 0;
}

button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  min-height: 40px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 16px;
}

button.main-btn {
  color: var(--main2-color);
  margin-top: 24px;
}

button:not(.hamburguer) {
  border-radius: 9999px;
  width: 75%;

  background-color: var(--main-color);
  color: var(--on-main-color);
  padding: 8px 16px;
}