treatments-card {
  display: flex;
  flex-direction: column;
  gap: 8px;

  /* background: var(--gradient-bg); */
  background-color: var(--background-color2);
  border-radius: 6px;

  padding: 12px 20px;
  margin-inline: 18px;

  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.14), 0 3px 1px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.20);
  transition: box-shadow 0.3s ease-in-out, 
              transform 0.3s ease-in-out;

  margin-bottom: 16px;
}

treatments-card:hover {
  box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.20);

  /* transform: translate(0, -1px); */
}

card-head {
  display: flex;
  gap: 8px;
}

card-head img {
  width: 30px;
  height: 30px;
  background-color: aquamarine;
}

treatments-container h2 {
  text-align: start;
  margin: 0;
}